@import "./src/styles/fonts";
@import "./src/styles/_spinner.scss";
@import "./src/styles/_const.scss";


* {
  margin: 0;
  padding: 0;
  outline: 0;
  border: none;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}


.container {
  max-width: $containerSize;
  margin: 0 auto;
  padding: $containerPadding;
}

body {
  color: $mainColor;
  font-size: $mainFontSize;
  font-family: $bodyFontFamily;
}

a {
  color: $mainColor;
  &:hover {
    opacity: 0.5;
  }
}

span {
  color: $colorOpacity;
}

h2 {
  font-family: $titleFontFamily;
  font-weight: $titleFontWeight;
  font-size: $h2FontSize;
  line-height: normal;
}

h3 {
  font-family: $titleFontFamily;
  font-weight: $titleFontWeight;
  font-size: $h3FontSize;
  line-height: 41px;
}
