@import "./public/styles/_fonts.scss";
@import "./public/styles/_spinner.scss";

$mainColor: rgba(0, 0, 0, 1);

* {
  margin: 0;
  padding: 0;
  outline: 0;
  border: none;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

:root {
  font-family: Open Sans, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.container {
  max-width: 1366px;
  margin: 0 auto;
  padding: 25px;
}

body {
  color: $mainColor;
}

a {
  color: $mainColor;
  &:hover {
    opacity: 0.5;
  }
}

h2 {
  font-family: Libre Baskerville;
  font-size: 42px;
  font-weight: bold;
  line-height: normal;
}

h3 {
  font-family: Libre Baskerville;
  font-style: normal;
  font-weight: 700;
  font-size: 33px;
  line-height: 41px;
}
