.button {
  display: flex;
  align-items: center;
  max-width: 550px;
  font-size: 18px;
  &__title {
    font-family: Libre Baskerville;
    padding: 0 35px;
    max-height: 145px;
    overflow: hidden;
  }
  &__link {
    font-weight: bold;
    display: flex;
    align-self: flex-end;
  }
  &__img--opacity {
    opacity: 0.5;
  }
}
