.button {
  @include flex($center: true, $gap: 30px);
  flex: 1 1 0;
  max-width: 550px;
  font-family: $secondFontFamily;
  font-size: 18px;
  &__prev {
    justify-content: start;
  }
  &__next {
    justify-content: end;
  }
  &__title {
    position: relative;
    max-height: 135px;
    overflow: hidden;
  }
  &__link {
    font-weight: bold;
    display: flex;
  }
  &__img--opacity {
    opacity: 0.5;
  }
}

@media (max-width: 768px) {
  .button {
    font-size: 12px;
    gap: 10px;
    &__img {
      max-width: 50px;
      max-height: 50px;
    }
    &__title {
      max-height: 45px;
    }
  }
}

@media (max-width: 480px) {
  .button {
    &__title {
      display: none;
    }
  }
}
