$colortext: rgba(28, 28, 28, 0.5);

.article-preview {
  max-width: 509px;
  background-color: white;
  padding-left: 55px;
  &__img {
    max-width: 371px;
    max-height: 298px;
  }
  &__tag {
    font-size: 20px;
    color: $colortext;
    text-transform: uppercase;
    line-height: 27.24px;
  }
  &__title {
    font-family: Libre Baskerville;
    font-weight: bold;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
  &__description {
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
  &--view {
    padding: 75px 40px;
  }
}
