.burger {
  display: none;
  width: 40px;
  height: 35px;
  cursor: pointer;
  background: linear-gradient(
    to bottom,
    #0000008a 0%,
    #0000008a 20%,
    transparent 20%,
    transparent 40%,
    #0000008a 40%,
    #0000008a 60%,
    transparent 60%,
    transparent 80%,
    #0000008a 80%,
    #0000008a 100%
  );
}

@media (max-width: 768px) {
  .burger {
    display: block;
    z-index: 2;
  }
}
