@import '../../styles/const';

.burger {
  display: none;
  width: 40px;
  height: 35px;
  cursor: pointer;
  background: linear-gradient(
    to bottom,
    $colorOpacity 0%,
    $colorOpacity 20%,
    transparent 20%,
    transparent 40%,
    $colorOpacity 40%,
    $colorOpacity 60%,
    transparent 60%,
    transparent 80%,
    $colorOpacity 80%,
    $colorOpacity 100%
  );
}

@media (max-width: 768px) {
  .burger {
    display: block;
    z-index: 2;
  }
}
