@import "../../styles/_const.scss";
@import "../../styles/mixins/flexbox";

$delimiterSize: 3px;
$readTimeFontSize: 14px;

.creation {
  @include flex;
  color: $colorOpacity;
  padding: 10px 0;
  &-delimiter {
    width: $delimiterSize;
    height: $delimiterSize;
    background-color: $colorOpacity;
    border-radius: 50%;
    margin: 12px 10px 10px 10px;
  }
  &-readTime {
    font-size: $readTimeFontSize;
    margin-left: 5px;
  }
}
