.creation {
  @include flex($center: true, $gap: 8px);
  flex-wrap: wrap;
  color: $colorOpacity;
  padding: 10px 0;
  &-delimiter {
    width: 3px;
    height: 3px;
    background-color: $colorOpacity;
    border-radius: 50%;
  }
  &-readTime {
    font-size: $tabletFontSize;
    margin-left: 5px;
  }
}

@media (max-width: 768px) {
  .creation {
    font-size: 12px;
    &-readTime {
      font-size: 12px;
    }
  }
}
