@import "../../styles/const";
@import "../../styles/mixins/flexbox";

.author {
  &__title {
    color: $colorOpacity;
    text-transform: uppercase;
    padding-bottom: 15px;
  }
  &__card {
    @include flex;
  }
  &__description {
    padding-left: 37px;
  }
  &__nickname {
    padding: 10px 0;
  }
  &__about {
    padding-top: 10px;
  }
}
