$colortext: rgba(28, 28, 28, 0.5);

.article {
  &__wrapper {
    padding-bottom: 0;
  }
  &__container {
    max-width: 652px;
    margin: auto;
    margin-bottom: 160px;
    margin-top: 55px;
  }
  &__title {
    padding-bottom: 10px;
  }
  &__img {
    width: 100%;
    max-width: 1316px;
    max-height: 567px;
    object-fit: cover;
  }
  &__head {
    text-align: center;
    padding-bottom: 25px;
  }
  &__creation {
    display: flex;
    justify-content: center;
  }
  &__tag {
    text-transform: lowercase;
    color: $colortext;
  }
  &__description {
    margin-bottom: 40px;
    & > p {
      padding-bottom: 30px;
    }
  }
}
