@import "../../styles/const";
@import "../../styles/mixins/article-img";
@import "../../styles/mixins/flexbox";

$articleWidth: 652px;

.article {
  &__wrapper {
    padding-bottom: 0;
  }
  &__container {
    max-width: $articleWidth;
    margin: auto;
    margin-bottom: 160px;
    margin-top: 55px;
  }
  &__title {
    padding-bottom: 10px;
  }
  &__img {
    @include article-img(1316px, 567px);
  }
  &__head {
    text-align: center;
    padding-bottom: 25px;
  }
  &__creation {
    @include flex(true);
  }
  &__tag {
    text-transform: lowercase;
  }
  &__description {
    margin-bottom: 40px;
    & > p {
      padding-bottom: 30px;
    }
  }
}
