// font family
$bodyFontFamily:
  Open Sans,
  Helvetica,
  Arial,
  sans-serif;
$secondFontFamily: Libre Baskerville;

// font color
$mainColor: #000000;
$colorOpacity: #1c1c1c80;

// font size
$mainFontSize: 16px;
$tabletFontSize: 14px;
$h2FontSize: 42px;
$h3FontSize: 33px;
