$containerSize: 1366px;
$containerPadding: 25px;
$mainColor: rgba(0, 0, 0, 1);
$colorOpacity: rgba(28, 28, 28, 0.5);
$bodyFontFamily: Open Sans, Helvetica, Arial, sans-serif;
$titleFontFamily: Libre Baskerville;
$titleFontWeight: bold;
$mainFontSize: 16px;
$h2FontSize: 42px;
$h3FontSize: 33px;
$tagFontSize: 20px;