// Libre Baskerville
@font-face {
  font-family: 'Libre Baskerville';
  src: url(/fonts/LibreBaskerville/LibreBaskerville-Regular.woff) format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Libre Baskerville';
  src: url(/fonts/LibreBaskerville/LibreBaskerville-Bold.woff) format('woff');
  font-weight: bold;
  font-style: normal;
}

// Open Sans
@font-face {
  font-family: 'Open Sans';
  src: url(/fonts/OpenSans/OpenSans-Regular.woff) format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url(/fonts/OpenSans/OpenSans-Bold.woff) format('woff');
  font-weight: bold;
  font-style: normal;
}
