@import "../../styles/_const.scss";
@import "../../styles/mixins/flexbox";

$aboutWidth: 800px;
$aboutPadding: 80px 30px;

.about {
  max-width: $aboutWidth;
  padding: $aboutPadding;
  &__title {
    padding: 60px 0 30px 0;
    font-family: $titleFontFamily;
    text-align: center;
  }
  &__text {
    & > *:first-child {
      @include flex;
      gap: 40px;
      margin-bottom: 30px;
    }
  }
}
