@import "../../styles/const";
@import "../../styles/mixins/flexbox";

$navGap: 20px;

.nav {
  @include flex(true);
  gap: $navGap;
  &__item {
    text-transform: capitalize;
    &--active {
      font-weight: bold;
    }
  }
}

@media (max-width: 480px) {
  .nav {
    &.open {
      @include flex;
    }
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    min-width: 300px;
    padding: 90px 20px 50px 20px;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 15px 2px rgb(0, 0, 0);
    z-index: 1;
    &__item {
      padding: 10px;
      display: block;
    }
  }
}
