@import '../../styles/const';
@import '../../styles/mixins';

.nav {
  @include flex($center: true, $gap: 20px);
  &__item {
    text-transform: capitalize;
    &--active {
      font-weight: bold;
    }
  }
}

@media (max-width: 768px) {
  .nav {
    display: none;
    position: fixed;
    top: -100%;
    right: 0;
    min-width: 100%;
    min-height: 100vh;
    padding: 200px 20px;
    background-color: #ffffff;
    @include flex($direction: column, $gap: 50px);
    z-index: 1;
    transition: all 0.3s ease 0s;
    &__item {
      font-size: 24px;
      padding: 10px;
    }
    &.open {
      top: 0;
    }
  }
}
