@import "../../styles/const";
@import "../../styles/mixins/flexbox";

$navGap: 20px;

.nav {
  @include flex(true);
  gap: $navGap;
  &__item {
    text-transform: capitalize;
    &--active {
      font-weight: bold;
    }
  }
}

@media (max-width: 480px) {
  .nav {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    padding: 200px 20px;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    z-index: 1;
    &__item {
      font-size: 24px;
      padding: 10px;
    }
    &.open {
      @include flex;
      min-width: 100%;
      min-height: 100vh;
      gap: 50px;
      animation: shoIt 0.2s linear;
    }
  }
}

@keyframes shoIt {
  0% {
    transform: translate(200px, 0); 
  }
  100% {
    transform: translate(0, 0); 
  }
}