@import "../src/styles/fonts";
@import "../src/styles/_const.scss";

* {
  margin: 0;
  padding: 0;
  outline: 0;
  border: none;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

html {
  overflow-y: scroll;
}

body {
  color: $mainColor;
  font-size: $mainFontSize;
  font-family: $bodyFontFamily;
}

a {
  color: $mainColor;
  &:hover {
    opacity: 0.5;
  }
}

span {
  color: $colorOpacity;
}

h2 {
  font-family: $titleFontFamily;
  font-weight: $titleFontWeight;
  font-size: $h2FontSize;
  line-height: normal;
}

h3 {
  font-family: $titleFontFamily;
  font-weight: $titleFontWeight;
  font-size: $h3FontSize;
  line-height: 41px;
}

.container {
  max-width: $containerSize;
  margin: 0 auto;
  padding: 0 $containerPadding;
}

.modal-open {
  height: 100vh;
  overflow-y: hidden;
}

@media (max-width: 768px) {
  body {
    font-size: $tabletFontSize;
  }
  h2 {
    font-size: $h2FontSize - 6;
  }
  h3 {
    font-size: $h3FontSize - 10;
  }
}

@media (max-width: 480px) {
  h2 {
    font-size: $h2FontSize - 18;
  }
  h3 {
    font-size: $h3FontSize - 15;
    line-height: 27px;
  }
}
