@import "../../styles/const";
@import "../../styles/mixins/flexbox";


$headerFontSize: 20px;

.header {
  @include flex(true);
  position: relative;
  font-family: $titleFontFamily;
  font-size: $headerFontSize;
  line-height: 24.8px;
  gap: 50px;
}

@media (max-width: 768px) {
  .header {
    justify-content: space-between;
  }
}
