@import "../../styles/const";
@import "../../styles/mixins/flexbox";

$headerFontSize: 20px;
$padding: 31px;

.header {
  @include flex;
  padding-top: $padding;
  padding-bottom: $padding;
  font-family: $titleFontFamily;
  font-size: $headerFontSize;
  line-height: 24.8px;
}

.nav {
  @include flex(true);
  padding-left: 41px;
  &__item {
    text-transform: capitalize;
    margin: 0 10px;
    &--active {
      font-weight: bold;
    }
  }
}
