.header {
    display: flex;
    padding-top: 31px;
    font-family: Libre Baskerville;
    font-size: 20px;
    line-height: 24.8px;
    &__nav {
        display: flex;
        align-items: center;
        padding-left: 41px;
    }
    &__item {
        text-transform: capitalize;
        margin: 0 10px;
        &--active {
            font-weight: bold;
        }
    }
}