#spinner {
    width: 70px;
    height: 70px;
    border-top-color: #8c8f8e;
    border-left-color: #8c8f8e;
    margin: 0 auto;
    margin-top: 200px;
    animation: spinner .5s linear infinite;
    border-bottom-color: transparent;
    border-right-color: transparent;
    border-style: solid;
    border-width: 3px;
    border-radius: 50%;  
  }
  
  @keyframes spinner {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }