@import "../../styles/_const.scss";
@import "../../styles/mixins/hide-rows";

$articleBgColor: rgb(255, 255, 255);
$articleWidth: 509px;
$imgWidth: 371px;
$imgHeight: 298px;

.article-preview {
  max-width: $articleWidth;
  padding-left: 55px;
  background-color: $articleBgColor;
  &__img {
    max-width: $imgWidth;
    max-height: $imgHeight;
  }
  &__tag {
    font-size: $tagFontSize;
    color: $colorOpacity;
    text-transform: uppercase;
    line-height: 27.24px;
  }
  &__title {
    @include hide-rows(2);
    font-weight: bold;
  }
  &__description {
    @include hide-rows(4);
  }
  &--view {
    padding: 75px 40px;
  }
}
