@import "../../styles/_const.scss";
@import "../../styles/mixins/hide-rows";
@import "../../styles/mixins/article-img";

$articleBgColor: rgb(255, 255, 255);
$imgWidth: 370px;
$imgHeight: 300px;
$tagLineHeight: 28px;

.article-preview {
  &__img {
    @include article-img;
    &-link {
      display: block;
      max-width: $imgWidth;
      max-height: $imgHeight;
      min-width: 210px;
    }
  }
  &__content {
    max-width: 509px;
  }
  &__tag {
    font-size: $tagFontSize;
    color: $colorOpacity;
    text-transform: uppercase;
    line-height: $tagLineHeight;
  }
  &__title {
    @include hide-rows(2);
    font-weight: bold;
  }
  &__description {
    @include hide-rows(4);
  }
  &--view {
    max-width: 509px;
    padding: 75px 40px;
    background-color: $articleBgColor;
  }
}

@media (max-width: 768px) {
  .article-preview {
    &__tag {
      font-size: $tagFontSize - 6;
      line-height: $tagLineHeight - 8;
    }
    &__title {
      line-height: 30px;
    }
    &__description {
      line-height: 24px;
    }
    &--view {
      padding: 22px;
    }
  }
}

@media (max-width: 480px) {
  .article-preview {
    padding: 0;
    &__img {
      &-link {
        height: 100px;
        width: 100%;
      }
    }
    &--view {
      background-color: transparent;
    }
  }
}
