@import '../../styles/const';
@import '../../styles/mixins';

.article-preview {
  &__img {
    @include article-img;
    &-link {
      display: block;
      max-width: 370px;
      max-height: 300px;
      min-width: 210px;
    }
  }
  &__content {
    max-width: 509px;
  }
  &__tag {
    font-size: 20px;
    color: $colorOpacity;
    text-transform: uppercase;
    line-height: 28px;
  }
  &__title {
    @include hide-rows(2);
    font-weight: bold;
  }
  &__description {
    @include hide-rows(4);
  }
  &--view {
    max-width: 509px;
    padding: 75px 40px;
    background-color: #ffffff;
  }
}

@media (max-width: 768px) {
  .article-preview {
    &__img {
      &-link {
        max-width: 210px;
      }
    }
    &__tag {
      font-size: 14px;
      line-height: 20px;
    }
    &__title {
      line-height: 30px;
    }
    &__description {
      line-height: 24px;
    }
    &--view {
      padding: 22px;
    }
  }
}

@media (max-width: 480px) {
  .article-preview {
    padding: 0;
    &__img {
      &-link {
        height: 100px;
        min-width: 100%;
      }
    }
    &--view {
      background-color: transparent;
    }
  }
}
