@import '../../styles/const';
@import '../../styles/mixins';

.blog {
  @include flex($center: true, $direction: column, $gap: 55px);
  padding-top: 50px;
  margin-bottom: 75px;
  &__title {
    position: relative;
    font-family: $bodyFontFamily;
    padding: 20px;
    &::after {
      content: '';
      position: absolute;
      top: 90px;
      left: 60px;
      width: 190px;
      border: 3px solid $mainColor;
    }
  }
  &__articles {
    @include flex($direction: column, $gap: 55px);
  }
  &__article {
    @include flex($gap: 55px);
  }
}

@media (max-width: 768px) {
  .blog {
    &__articles {
      gap: 32px;
    }
    &__article {
      gap: 32px;
    }
  }
}

@media (max-width: 480px) {
  .blog {
    margin: auto;
    gap: 35px;
    &__title {
      &::after {
        top: 65px;
        left: 45px;
        width: 100px;
        border-width: 3px;
      }
    }
    &__articles {
      gap: 35px;
      padding-bottom: 15px;
    }
    &__article {
      flex-direction: column;
      align-items: center;
    }
  }
}
