@import '../../styles/const';
@import '../../styles/mixins';

.banner {
  padding-bottom: 0;
  &__wrapper {
    position: relative;
    min-height: 592px;
    margin: 0 1px;
    &--move {
      @include flex($center: true);
      justify-content: end;
    }
  }
  &__img {
    @include article-img;
    position: absolute;
    z-index: -1;
  }
  &__info {
    margin-left: 45px;
    margin-right: 45px;
    & > a {
      display: none;
    }
  }
}

@media (max-width: 768px) {
  .banner {
    &__wrapper {
      &--move {
        display: block;
      }
    }
  }
}

@media (max-width: 480px) {
  .banner {
    padding-bottom: 25px;
    &__img {
      display: none;
    }
    &__wrapper {
      min-height: auto;
      &--move {
        padding: 10px 0 20px 0;
      }
    }
    &__info {
      margin: auto;
    }
  }
}
