@import "../../styles/const";
@import "../../styles/mixins/article-img";
@import "../../styles/mixins/flexbox";

$bannerHeight: 592px;
$imgWidth: $containerSize - $containerPadding;
$imgHeight: $bannerHeight - $containerPadding;
$marginArticle: 45px;

.banner {
  position: relative;
  min-height: $bannerHeight;
  padding-bottom: 0;
  &--move {
    @include flex(true);
    justify-content: end;
  }
  &__img {
    @include article-img($imgWidth, $imgHeight);
    position: absolute;
    z-index: -1;
  }
  &__info {
    margin-left: $marginArticle;
    margin-right: $marginArticle;
  }
}
